.content-title{
    text-align: center;
}

.filter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.filter-card{
    border: 1px solid green;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.filter-picture{
    width: 100%;
    border-radius: 5px;
}

.filter-name{
    text-align: center;
}

.display-picture{
    width: 100%;
    border-radius: 5px;
}

.top-half{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-left{
    width: 50%;
}

.top-right{
    width: 35%;
}

.bottom-half{
    display: flex;
    flex-direction: column;
    justify-content: start;
}